#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fish-img {
  height: 300px;
  width: 300px;
}

.knot-img {
  height: 300px;
  width: 290px;
}

@media(max-width: 500px){
.firstrow {
  position: absolute;
  margin-right: 10px;
  width: 30px; 
}

.secondrow {
  position: absolute;
  margin-left: 85px;
}

.thirdrow{
  position: absolute;
  margin-left: 200px;
}

.fish-icon {
  visibility: hidden;
}

.firstdata {
  position: absolute;
  width: 75px;
  padding-right: 10px;
  margin-top: 30px;
}

.seconddata {
  position: absolute;
  padding-left: 90px;
  padding-right: 30px;
  margin-top: 30px;
}

.thirddata {
  position: absolute;
  padding-left: 190px;
  width: 90px;
  margin-top: 30px;
}
}

table {
  background-color: #888;
  width: 100%;
  height: 200px;
}